In [833]:
import pandas as pd
import numpy as np
import os

In [ ]:
os.chdir(os.path.dirname(os.getcwd()))

In [834]:
df = pd.read_csv("data/raw/googleplaystore.csv", index_col=0)

In [835]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,"4,1",159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,"3,9",967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,"4,7",87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,"4,5",215644,25M,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,"4,3",967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,"1,1",4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10835,Sya9a Maroc - FR,FAMILY,"4,5",38,53M,"5,000+",Free,0,Everyone,Education,25-Jul-17,"1,48",4.1 and up
10836,Fr. Mike Schmitz Audio Teachings,FAMILY,5,4,3.6M,100+,Free,0,Everyone,Education,6-Jul-18,1,4.1 and up
10837,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,20-Jan-17,1,2.2 and up
10838,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,"4,5",114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device
10839,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,"4,5",398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [836]:
df.loc[df["Reviews"]==0,"Rating"]=0.0

In [837]:
df.sort_values(by="App", inplace=True)
df.reset_index(inplace=True,drop=True)

In [838]:
for i in range(0,len(df)):
    if i==0:
        continue
    if df.loc[i,"App"]==df.loc[(i-1),"App"] and df.loc[i,"Category"]==df.loc[(i-1),"Category"]:
        df.loc[i,"duplicado"]=1
    else:
        df.loc[i,"duplicado"]=0

In [839]:
df.drop(df[df["duplicado"]==1].index,axis=0, inplace=True)

In [840]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9766 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9766 non-null   object
 1   Category        9766 non-null   object
 2   Rating          8895 non-null   object
 3   Reviews         9766 non-null   int64
 4   Size            9766 non-null   object
 5   Installs        9766 non-null   object
 6   Type            9765 non-null   object
 7   Price           9766 non-null   object
 8   Content Rating  9766 non-null   object
 9   Genres          9766 non-null   object
 10  Last Updated    9766 non-null   object
 11  Current Ver     9758 non-null   object
 12  Android Ver     9764 non-null   object
 13  duplicado       9765 non-null   float64
dtypes: float64(1), int64(1), object(12)
memory usage: 1.1+ MB

In [841]:
df.drop("duplicado",axis=1,inplace=True)

In [842]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9766 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9766 non-null   object
 1   Category        9766 non-null   object
 2   Rating          8895 non-null   object
 3   Reviews         9766 non-null   int64
 4   Size            9766 non-null   object
 5   Installs        9766 non-null   object
 6   Type            9765 non-null   object
 7   Price           9766 non-null   object
 8   Content Rating  9766 non-null   object
 9   Genres          9766 non-null   object
 10  Last Updated    9766 non-null   object
 11  Current Ver     9758 non-null   object
 12  Android Ver     9764 non-null   object
dtypes: int64(1), object(12)
memory usage: 1.0+ MB

In [843]:
df.drop(df[df["Rating"].isna()].index,axis=0, inplace=True)

In [844]:
df["Rating"] = np.where(df["Rating"].str.contains(","),df["Rating"].str.replace(",","."),df["Rating"])
df.loc[df["Rating"].isna(),"Rating"]=0
df["Rating"]=df["Rating"].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8895 entries, 1 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8895 non-null   object
 1   Category        8895 non-null   object
 2   Rating          8895 non-null   float64
 3   Reviews         8895 non-null   int64
 4   Size            8895 non-null   object
 5   Installs        8895 non-null   object
 6   Type            8894 non-null   object
 7   Price           8895 non-null   object
 8   Content Rating  8895 non-null   object
 9   Genres          8895 non-null   object
 10  Last Updated    8895 non-null   object
 11  Current Ver     8890 non-null   object
 12  Android Ver     8893 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 972.9+ KB

In [845]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1,#NAME?,COMICS,3.5,115,9.1M,"10,000+",Free,0,Mature 17+,Comics,13-Jul-18,5.0.12,5.0 and up
2,+Download 4 Instagram Twitter,SOCIAL,4.5,40467,22M,"1,000,000+",Free,0,Everyone,Social,2-Aug-18,"5,03",4.1 and up
3,.R,TOOLS,4.5,259,203k,"10,000+",Free,0,Everyone,Tools,16-Sep-14,1.1.06,1.5 and up
4,/u/app,COMMUNICATION,4.7,573,53M,"10,000+",Free,0,Mature 17+,Communication,3-Jul-18,4.2.4,4.1 and up
5,058.ba,NEWS_AND_MAGAZINES,4.4,27,14M,100+,Free,0,Everyone,News & Magazines,6-Jul-18,1,4.2 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,감성학원 BL 첫사랑,COMICS,4.4,190,34M,"10,000+",Free,0,Everyone,Comics,17-Nov-17,3.2.1,3.0 and up
10836,💎 I'm rich,LIFESTYLE,3.8,718,26M,"10,000+",Paid,$399.99,Everyone,Lifestyle,11-Mar-18,1.0.0,4.4 and up
10837,"💘 WhatsLov: Smileys of love, stickers and GIF",SOCIAL,4.6,22098,18M,"1,000,000+",Free,0,Everyone,Social,24-Jul-18,4.2.4,4.0.3 and up
10838,📏 Smart Ruler ↔️ cm/inch measuring for homework!,TOOLS,4.0,19,3.2M,"10,000+",Free,0,Everyone,Tools,21-Oct-17,1,4.2 and up
10839,🔥 Football Wallpapers 4K | Full HD Backgrounds 😍,ENTERTAINMENT,4.7,11661,4.0M,"1,000,000+",Free,0,Everyone,Entertainment,14-Jul-18,1.1.3.2,4.0.3 and up

In [846]:
mediana = pd.DataFrame(df.groupby('Category')['Rating'].median().sort_values(ascending=True))

In [847]:
for i,j in enumerate(list(df.groupby('Category')['Rating'].median().sort_values(ascending=True).index)):
    if mediana.loc[j].values[0]==4.5:
        df.loc[df["Category"]==j,"medianacategoria"]=4
    if mediana.loc[j].values[0]==4.4:
        df.loc[df["Category"]==j,"medianacategoria"]=3
    elif mediana.loc[j].values[0]==4.3:
        df.loc[df["Category"]==j,"medianacategoria"]=2
    elif mediana.loc[j].values[0]==4.2:
        df.loc[df["Category"]==j,"medianacategoria"]=1
    elif mediana.loc[j].values[0]==4.1:
        df.loc[df["Category"]==j,"medianacategoria"]=0

In [848]:
df["medianacategoria"]

1        3.0
2        2.0
3        1.0
4        1.0
5        1.0
        ...
10834    3.0
10836    0.0
10837    2.0
10838    1.0
10839    1.0
Name: medianacategoria, Length: 8895, dtype: float64

In [849]:
df.groupby('Category')['Rating'].mean().sort_values(ascending=True)

Category
BUSINESS               3.160997
MEDICAL                3.436827
DATING                 3.477124
LIFESTYLE              3.688922
COMMUNICATION          3.703497
PRODUCTIVITY           3.703529
TRAVEL_AND_LOCAL       3.786070
FOOD_AND_DRINK         3.806796
TOOLS                  3.812582
NEWS_AND_MAGAZINES     3.821818
HOUSE_AND_HOME         3.840299
BOOKS_AND_REFERENCE    3.844503
HEALTH_AND_FITNESS     3.863060
SPORTS                 3.878246
MAPS_AND_NAVIGATION    3.904098
EVENTS                 3.913725
FINANCE                3.920820
PERSONALIZATION        3.924012
VIDEO_PLAYERS          3.937255
AUTO_AND_VEHICLES      3.972727
SOCIAL                 4.010233
FAMILY                 4.021148
LIBRARIES_AND_DEMO     4.051515
WEATHER                4.073333
PHOTOGRAPHY            4.079104
BEAUTY                 4.084091
SHOPPING               4.094086
ENTERTAINMENT          4.136449
COMICS                 4.181481
GAME                   4.194968
ART_AND_DESIGN         4.287097
PARENTING              4.300000
EDUCATION              4.368595
Name: Rating, dtype: float64

In [850]:
for i, j in enumerate(list(df.groupby('Category')['Rating'].mean().sort_values(ascending=True).index)):
    df.loc[df["Category"]==j,"ncategoria"]=i

In [851]:
print(df["Reviews"].max())
print(df["Reviews"].min())
print(df["Reviews"].mean())
print(df["Reviews"].median())
print(df["Reviews"].std())

78128208
0
275511.60292299045
2087.0
2110758.5583661525

In [852]:
df.reset_index(inplace=True, drop=True)

In [853]:
for i in range(0,len(df["Reviews"])):
    if df.loc[i,"Reviews"]==0:
        df.loc[i,"valoraciones"]=0
    elif df.loc[i,"Reviews"]>0 and df.loc[i,"Reviews"]<=10:
        df.loc[i,"valoraciones"]=1
    elif df.loc[i,"Reviews"]>10 and df.loc[i,"Reviews"]<=100:
        df.loc[i,"valoraciones"]=2
    elif df.loc[i,"Reviews"]>100 and df.loc[i,"Reviews"]<=1000:
        df.loc[i,"valoraciones"]=3
    elif df.loc[i,"Reviews"]>1000 and df.loc[i,"Reviews"]<=10000:
        df.loc[i,"valoraciones"]=4
    elif df.loc[i,"Reviews"]>10000 and df.loc[i,"Reviews"]<=100000:
        df.loc[i,"valoraciones"]=5
    elif df.loc[i,"Reviews"]>100000:
        df.loc[i,"valoraciones"]=6

In [854]:
df["valoraciones"].value_counts()

valoraciones
5.0    1847
4.0    1535
6.0    1520
3.0    1492
2.0    1275
1.0     633
0.0     593
Name: count, dtype: int64

In [855]:
df.groupby("valoraciones")["Rating"].mean().sort_values()

valoraciones
0.0    0.000000
3.0    4.036461
2.0    4.037020
4.0    4.140391
1.0    4.201738
5.0    4.244775
6.0    4.368750
Name: Rating, dtype: float64

In [856]:
df.loc[df["valoraciones"]==0, "valoraciones2"]=0
df.loc[df["valoraciones"]==6, "valoraciones2"]=5
df.loc[df["valoraciones"]==5,"valoraciones2"]=4
df.loc[df["valoraciones"]==1,"valoraciones2"]=3
df.loc[df["valoraciones"]==4, "valoraciones2"]=2
df.loc[(df["valoraciones"]==3) | (df["valoraciones"]==2), "valoraciones2"]=1
df["valoraciones2"] = df["valoraciones2"].astype(int)

In [857]:
df.groupby("valoraciones")["Rating"].median().sort_values()

valoraciones
0.0    0.0
3.0    4.1
2.0    4.2
4.0    4.2
5.0    4.3
6.0    4.4
1.0    4.5
Name: Rating, dtype: float64

In [858]:
df.loc[df["valoraciones"]==0, "valoraciones3"]=0
df.loc[df["valoraciones"]==1, "valoraciones3"]=5
df.loc[df["valoraciones"]==6,"valoraciones3"]=4
df.loc[df["valoraciones"]==5,"valoraciones3"]=3
df.loc[df["valoraciones"]==3, "valoraciones3"]=1
df.loc[(df["valoraciones"]==4) | (df["valoraciones"]==2), "valoraciones3"]=2

In [859]:
df["Android Ver"].unique()

array(['5.0 and up', '4.1 and up', '1.5 and up', '4.2 and up',
       '4.4 and up', '2.3.3 and up', '2.2 and up', '2.1 and up',
       '4.0 and up', '4.0.3 and up', '1.6 and up', '2.3 and up',
       'Varies with device', '4.3 and up', '2.0.1 and up', '3.0 and up',
       '3.1 and up', '3.2 and up', '6.0 and up', '7.0 and up',
       '5.0 - 8.0', '2.0 and up', '5.1 and up', '1.0 and up',
       '4.0.3 - 7.1.1', '8.0 and up', '4.4W and up', '7.1 and up',
       '4.1 - 7.1.1', '5.0 - 6.0', nan, '7.0 - 7.1.1'], dtype=object)

In [860]:
df.groupby("Android Ver")["Rating"].mean().sort_values()

Android Ver
6.0 and up            3.410417
3.1 and up            3.522222
4.4W and up           3.633333
1.6 and up            3.665979
4.3 and up            3.694975
3.2 and up            3.745455
2.2 and up            3.790610
1.5 and up            3.811765
4.2 and up            3.831778
2.1 and up            3.838017
4.1 and up            3.848234
4.0 and up            3.852381
4.0.3 and up          3.880892
4.4 and up            3.892912
5.0 and up            3.918828
2.3.3 and up          3.932083
3.0 and up            3.949761
7.1 and up            3.966667
2.3 and up            3.981754
1.0 and up            4.050000
5.1 and up            4.094118
8.0 and up            4.100000
Varies with device    4.110030
7.0 and up            4.114634
4.0.3 - 7.1.1         4.150000
4.1 - 7.1.1           4.200000
2.0.1 and up          4.328571
2.0 and up            4.370370
5.0 - 6.0             4.500000
7.0 - 7.1.1           4.500000
5.0 - 8.0             4.500000
Name: Rating, dtype: float64

In [861]:
pd.DataFrame(df.groupby("valoraciones2")["Rating"].mean())

                 Rating
valoraciones2
0              0.000000
1              4.036718
2              4.140391
3              4.201738
4              4.244775
5              4.368750

In [862]:
df["valoraciones2"].unique()

array([1, 4, 2, 3, 5, 0])

In [863]:
df.loc[df["valoraciones2"]==0, "med_val_rating"]=0
df.loc[df["valoraciones2"]==1, "med_val_rating"]=4.036718
df.loc[df["valoraciones2"]==2,"med_val_rating"]=4.140391
df.loc[df["valoraciones2"]==3,"med_val_rating"]=4.201738
df.loc[df["valoraciones2"]==4, "med_val_rating"]=4.244775
df.loc[df["valoraciones2"]==5, "med_val_rating"]=4.368750

In [864]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8895 entries, 0 to 8894
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   App               8895 non-null   object
 1   Category          8895 non-null   object
 2   Rating            8895 non-null   float64
 3   Reviews           8895 non-null   int64
 4   Size              8895 non-null   object
 5   Installs          8895 non-null   object
 6   Type              8894 non-null   object
 7   Price             8895 non-null   object
 8   Content Rating    8895 non-null   object
 9   Genres            8895 non-null   object
 10  Last Updated      8895 non-null   object
 11  Current Ver       8890 non-null   object
 12  Android Ver       8893 non-null   object
 13  medianacategoria  8698 non-null   float64
 14  ncategoria        8895 non-null   float64
 15  valoraciones      8895 non-null   float64
 16  valoraciones2     8895 non-null   int32
 17  valoraciones3     8895 non-null   float64
 18  med_val_rating    8895 non-null   float64
dtypes: float64(6), int32(1), int64(1), object(11)
memory usage: 1.3+ MB

In [865]:
df.loc[df["med_val_rating"].isna()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver, medianacategoria, ncategoria, valoraciones, valoraciones2, valoraciones3, med_val_rating]
Index: []

In [866]:
df.groupby("valoraciones2")["Rating"].median()

valoraciones2
0    0.0
1    4.2
2    4.2
3    4.5
4    4.3
5    4.4
Name: Rating, dtype: float64

In [867]:
df["Price"]=df["Price"].str.replace("$","")
df["Price"]=df["Price"].astype(float)

In [868]:
df.loc[df["Type"]=="Free","Type"]=0
df.loc[df["Type"]=="Paid","Type"]=1

In [869]:
df[["Rating","ncategoria",  "medianacategoria", "Reviews", "valoraciones", "valoraciones2", "valoraciones3", "med_val_rating", "Price", "Type"]].corr()

,Rating,ncategoria,medianacategoria,Reviews,valoraciones,valoraciones2,valoraciones3,med_val_rating,Price,Type
Rating,1.000000,0.193832,0.144117,0.058513,0.550990,0.461983,0.516347,0.901650,-0.030015,-0.027634
ncategoria,0.193832,1.000000,0.681445,0.051450,0.262686,0.209695,0.131906,0.188243,-0.020201,-0.012896
medianacategoria,0.144117,0.681445,1.000000,0.013643,0.149704,0.109862,0.062895,0.113588,-0.019439,0.014382
Reviews,0.058513,0.051450,0.013643,1.000000,0.171769,0.190953,0.148261,0.058207,-0.008372,-0.036294
valoraciones,0.550990,0.262686,0.149704,0.171769,1.000000,0.825856,0.477656,0.611114,-0.044643,-0.160311
valoraciones2,0.461983,0.209695,0.109862,0.190953,0.825856,1.000000,0.840760,0.512375,-0.052493,-0.151847
valoraciones3,0.516347,0.131906,0.062895,0.148261,0.477656,0.840760,1.000000,0.572638,-0.045602,-0.092304
med_val_rating,0.901650,0.188243,0.113588,0.058207,0.611114,0.512375,0.572638,1.000000,-0.028758,-0.067564
Price,-0.030015,-0.020201,-0.019439,-0.008372,-0.044643,-0.052493,-0.045602,-0.028758,1.000000,0.225421
Type,-0.027634,-0.012896,0.014382,-0.036294,-0.160311,-0.151847,-0.092304,-0.067564,0.225421,1.000000

In [870]:
df["tamaño"] = np.where(df["Size"].str.contains("k"), df["Size"].str.replace("k",""), np.where(df["Size"].str.contains("M"), df["Size"].str.replace("M",""),  df["Size"]))

In [871]:
df["tamaño"] = np.where(df["Size"].str.contains("k"), df["Size"].str.replace("k",""), np.where(df["Size"].str.contains("M"), df["Size"].str.replace("M",""), np.where(df["Size"].str.contains("Varies with device"), df["Size"].str.replace("Varies with device","0"), df["Size"])) )
df["tamaño"]=df[["tamaño"]].astype(float)
df["tamaño"]=np.where(df["Size"].str.contains("M"),df["tamaño"]*1000,df["tamaño"] )

In [872]:
df["tamaño"]

0        9100.0
1       22000.0
2         203.0
3       53000.0
4       14000.0
         ...
8890    34000.0
8891    26000.0
8892    18000.0
8893     3200.0
8894     4000.0
Name: tamaño, Length: 8895, dtype: float64

In [878]:
df.corr(numeric_only=True)

,Rating,Reviews,Price,medianacategoria,ncategoria,valoraciones,valoraciones2,valoraciones3,med_val_rating,tamaño
Rating,1.000000,0.058513,-0.030015,0.144117,0.193832,0.550990,0.461983,0.516347,0.901650,0.075914
Reviews,0.058513,1.000000,-0.008372,0.013643,0.051450,0.171769,0.190953,0.148261,0.058207,0.070298
Price,-0.030015,-0.008372,1.000000,-0.019439,-0.020201,-0.044643,-0.052493,-0.045602,-0.028758,-0.017118
medianacategoria,0.144117,0.013643,-0.019439,1.000000,0.681445,0.149704,0.109862,0.062895,0.113588,0.160578
ncategoria,0.193832,0.051450,-0.020201,0.681445,1.000000,0.262686,0.209695,0.131906,0.188243,0.264168
valoraciones,0.550990,0.171769,-0.044643,0.149704,0.262686,1.000000,0.825856,0.477656,0.611114,0.182643
valoraciones2,0.461983,0.190953,-0.052493,0.109862,0.209695,0.825856,1.000000,0.840760,0.512375,0.168686
valoraciones3,0.516347,0.148261,-0.045602,0.062895,0.131906,0.477656,0.840760,1.000000,0.572638,0.101654
med_val_rating,0.901650,0.058207,-0.028758,0.113588,0.188243,0.611114,0.512375,0.572638,1.000000,0.081634
tamaño,0.075914,0.070298,-0.017118,0.160578,0.264168,0.182643,0.168686,0.101654,0.081634,1.000000

In [875]:
df["tamaño"].describe()

count      8895.000000
mean      18435.351939
std       22152.738600
min           0.000000
25%        2900.000000
50%        9400.000000
75%       26000.000000
max      100000.000000
Name: tamaño, dtype: float64

In [881]:
df.loc[df["tamaño"]==0, "tamaño2"]=5
df.loc[df["tamaño"]>0, "tamaño2"]=0
df.loc[df["tamaño"]>3500, "tamaño2"]=2
df.loc[df["tamaño"]>7000, "tamaño2"]=1
df.loc[df["tamaño"]>13000, "tamaño2"]=4
df.loc[df["tamaño"]>25000, "tamaño2"]=3
df.loc[df["tamaño"]>45000, "tamaño2"]=6

In [882]:
df.groupby("tamaño2")["Rating"].mean().sort_values()

tamaño2
0.0    3.721208
1.0    3.768506
2.0    3.806398
3.0    3.830970
4.0    3.924719
5.0    4.114761
6.0    4.170333
Name: Rating, dtype: float64

In [883]:
df.corr(numeric_only=True)

,Rating,Reviews,Price,medianacategoria,ncategoria,valoraciones,valoraciones2,valoraciones3,med_val_rating,tamaño,tamaño2
Rating,1.000000,0.058513,-0.030015,0.144117,0.193832,0.550990,0.461983,0.516347,0.901650,0.075914,0.128737
Reviews,0.058513,1.000000,-0.008372,0.013643,0.051450,0.171769,0.190953,0.148261,0.058207,0.070298,0.131445
Price,-0.030015,-0.008372,1.000000,-0.019439,-0.020201,-0.044643,-0.052493,-0.045602,-0.028758,-0.017118,-0.040415
medianacategoria,0.144117,0.013643,-0.019439,1.000000,0.681445,0.149704,0.109862,0.062895,0.113588,0.160578,0.127365
ncategoria,0.193832,0.051450,-0.020201,0.681445,1.000000,0.262686,0.209695,0.131906,0.188243,0.264168,0.207363
valoraciones,0.550990,0.171769,-0.044643,0.149704,0.262686,1.000000,0.825856,0.477656,0.611114,0.182643,0.384457
valoraciones2,0.461983,0.190953,-0.052493,0.109862,0.209695,0.825856,1.000000,0.840760,0.512375,0.168686,0.371894
valoraciones3,0.516347,0.148261,-0.045602,0.062895,0.131906,0.477656,0.840760,1.000000,0.572638,0.101654,0.222442
med_val_rating,0.901650,0.058207,-0.028758,0.113588,0.188243,0.611114,0.512375,0.572638,1.000000,0.081634,0.140257
tamaño,0.075914,0.070298,-0.017118,0.160578,0.264168,0.182643,0.168686,0.101654,0.081634,1.000000,0.565942
tamaño2,0.128737,0.131445,-0.040415,0.127365,0.207363,0.384457,0.371894,0.222442,0.140257,0.565942,1.000000

In [876]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8895 entries, 0 to 8894
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   App               8895 non-null   object
 1   Category          8895 non-null   object
 2   Rating            8895 non-null   float64
 3   Reviews           8895 non-null   int64
 4   Size              8895 non-null   object
 5   Installs          8895 non-null   object
 6   Type              8894 non-null   object
 7   Price             8895 non-null   float64
 8   Content Rating    8895 non-null   object
 9   Genres            8895 non-null   object
 10  Last Updated      8895 non-null   object
 11  Current Ver       8890 non-null   object
 12  Android Ver       8893 non-null   object
 13  medianacategoria  8698 non-null   float64
 14  ncategoria        8895 non-null   float64
 15  valoraciones      8895 non-null   float64
 16  valoraciones2     8895 non-null   int32
 17  valoraciones3     8895 non-null   float64
 18  med_val_rating    8895 non-null   float64
 19  tamaño            8895 non-null   float64
dtypes: float64(8), int32(1), int64(1), object(10)
memory usage: 1.3+ MB

In [877]:
#df.to_csv("data/googleplaystore2.csv")

In [886]:
print(len(df[df["Rating"]==0]))
print(len(df[(df["Rating"]>0)&(df["Rating"]<=1.5)]))
print(len(df[(df["Rating"]>1.5)&(df["Rating"]<=2.5)]))
print(len(df[(df["Rating"]>2.5)&(df["Rating"]<=3.5)]))
print(len(df[(df["Rating"]>3.5)&(df["Rating"]<=4.5)]))
print(len(df[(df["Rating"]>4.5)&(df["Rating"]<=5)]))

593
23
124
727
5704
1724